.home {
	section {
		padding-left: 2rem;
		padding-right: 2rem;
	}

	// Technology and Security Section
	.tech-and-sec {
		h2 {
			margin-bottom: 3rem;
		}

		p {
			color: #cbd5e0; // Softer text color for readability
		}

		.flex {
			padding: 1.5rem 2rem;
			border-radius: 0.5rem;
			background-color: #1a202c; // Darker background for the flex container
			box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

			&:hover {
				background-color: #2d3748; // Lighter on hover
				transition: background-color 0.3s ease-in-out;
			}

			h3 {
				font-weight: 600;
			}

			span {
				font-size: 2rem;
			}
		}
	}
}
